@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); /*Se importa la fuente para luego aplicarla*/

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after { /*Se hace una selecccion a todo y se crea un pseudo-elemento que es el primer hijo del elemento seleccionado luego se selecciona el ultimo elemento hijo */
    margin: 0; 
    padding: 0;
    box-sizing: border-box; /*le decimos al navegador tomar en cuenta para cualquier valor que se especifique de borde o de relleno para el ancho o alto de un elemento.*/
}

/* El estilo base para moviles */
body {
    background-color: #112935; /*Aplicams estilo al cuerpo de la pagina web, dandole una familia de fuentes montserrat, el texto aliniado al centro y en negritas*/
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

.header { /*El header contiene nuestro menu de navegacion, se le aplica un display flex y luego un space between para que cada elemento dentro del header quede separado, es decir, para este caso uno quedaria a la izquierda al fondo y el otro a la derecha al fondo*/
    display: flex;
    justify-content: space-between
}

.src-only { /* la propiedad display none es usada usualmente en javascript para ocultar o mostrar elementos*/
    display: none;
}

.hide-mobile {
    display: none;
}

p{ /* Aplicamos un tamaño de fuente de 0.75 em, establecemos la distancia entre líneas de texto con la propiedad line-height*/
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo { /* a la clase logo le aplicamos un ancho de 90px y un margen de 1emx1emx1emx2.5em*/
    width: 90px;
    margin: 1em 1em 1em 2.5em;
}

.options { 
    color: inherit; /* Se hereda el color de su elemento padre, para este caso color blanco */
    text-decoration: none; /*al ser una lista es importante que no tenga ninguna decoracion que traen por defecto*/
    position: relative; /*se establece su posicion relativa para que vaya acode al flujo normal del documento*/
    top: 30%; /*al estar posicionado de manera relativa, la propiedad top nos  determina el posicionamiento hacia abajo*/
    right: 95%; /*establecemos el posicionamiento a la derecha*/
    font-size: 1.5rem;
    
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; /*hacemos que los elementos dentro de options empiezen al inicio */

}
.options i:last-child {
    font-size: 1.6rem; /*seleccionamos al ultimo hijo de la etiqueta i y le aplicamos el tamaño de letra de 1.6rem*/
}

/* Big area */
.big-hero img { 
    width: 150px; /*seleccionamos el elemento imagen con clase big-hero y le aplicamos un ancho de 150px*/ 
}

.big-hero h2 {
    font-size: 1.875em; /*seleccionamos el encabezado h2 y le aplicamos un peso de 700, un tamaño de letra, un espaciado de letra y un margen en la paret superior*/
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p { /*seleccionamos el parrafo dentro de la clase big-hero y se le aplica un tamaño de letra y u color de la misma*/
    font-size: 0.7em;;
    color: #D7DEE6;

}

/* Social links*/
.social-links{ /*quitamos el estilo de letra y sus elementos los colocamos al centro gracias a la propiedad flex, ademas le añadimos un margen en la parte inferior*/
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5.5em;
}

.social-links li a{/*seleccionamos dentro de la clase social links los elemenots que son li y dentro de ellos a sus etiquetas a, aplicamos color, quitamos la decoracion y colocamos una separacion entre ellos de 0.4 em*/
    color: #D7DEE6;
    text-decoration: none;
    margin: 0 0.4em; 
    font-size: 3em;
}

a.hide-mobile.show-desktop{ 
    color:#0AC693; 
    margin-top: 1.5em;
    margin-bottom: 5.1em;
    font-size: 2.5em;
    
}

.green-area { /*a la clase green area le colocamos un color de fondo*/
    background-color: #0AC693; 
}


.post { /*seleccionamos la clase post en la cual estan los articulos, les añadimos u padding de 1em y un margen inferior de -2px*/
    padding: 1em;
    margin-bottom: -2px;
}
.post h2 { /* los encabezados h2 de la clase post de colocan en mayuscula y en negrita con un tamaño de 1.125em y margen de 1em*/ 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul { /*le quitamos el estilo a la lista y a sus elementos los mostramos en el centro en columna */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post ul li { 
    min-height: 200px;
    max-width: 300px;
 

}

.post ul li article { /*con la propiedad overflow hidden el contenido es recortado y no se muestran barras de posición.*/
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;  
    margin-bottom: 2em;
}

.post article img{ /*con la propiedad cover hacemos que la imagen se redimensione dentro del contenedor*/
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 { /* con la propiedad elipsis hacemos que si no cabe el texto se coloquen unos puntos suspensivos */
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {/*aplicamos propiedades basicas, se comentaron con anterioridad*/
    color:#112935;
    font-size: 0.75em; /*seleccionamos dentro de la clase post los parrafos dentro de los articulos*/
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{/*aplicamos propiedades basicas, se comentaron con anterioridad*/
    margin-top: 0em;
}

.about h2 { /*aplicamos propiedades basicas, se comentaron con anterioridad*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em 2em 2em 2em;
}


.bio-info img{ /*aplicamos propiedades basicas, se comentaron con anterioridad*/
   width: 150px;
}

.bio-info p{ /*aplicamos propiedades basicas, se comentaron con anterioridad*/
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

.contact { /*aplicamos propiedades basicas, se comentaron con anterioridad*/
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}

.contact * + * { /*seleccionamos dentro de la clase todos los primeros elemetos de todo*/
    margin-top: 1.5em;
}

.contact-form { /*aplicamos propiedades basicas, se comentaron con anterioridad*/
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea{ /*seleccionamos los inputs dentro de la clase cotactform y solo el area de texto*/
    padding: 1rem 2rem; 
    border: none; /*quitamos los bordes*/
    border-radius: 0px 2em; /*colocamos un borde redondeado solo para la parte dereha*/
    font-size: 1em;
    width: 100%;
}

.about .bio-info{ /*establecemos un ancho de 22em*/
    width: 22em;
}

.about .contact{
    width: 20em;
    margin-bottom: 2.5em; /*seleccionamos dentro de la clase .about los elemntos que tengan la clase .contact, aplicandoles un margen inferior de 2.5 em*/
}

.container label{  /*aplicamos propiedades basicas, se comentaron con anterioridad*/
    font-weight: bold;
}

.about .container{ /*seleccionamos el contenedor dentro de la clase about y hacemos que los elementos se muestren en columna*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; font-family: 'Tahoma'; font-size: 1em;} 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; font-family: 'Tahoma'; font-size: 1em;} 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
    padding-top: 2em; /*aplicamos propiedades basicas, se comentaron con anterioridad*/
}

footer .social-links {
    margin: 0; /*aplicamos propiedades basicas, se comentaron con anterioridad quitamos el margen*/
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20; /*determiamos que lementos cubren a otros*/
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px); /*para la altura del menu realizamos un calculo de 100 view heigh menos 60 px */
}

.menu {
    list-style: none; /*quitamos todo estilo de la lista*/
    text-align: left; /*lo alinemos a la izquierda*/
    padding: 1em;
}
.menu li { /*lo mostramos en bloque*/
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a { /*aplicamos propiedades basicas, se comentaron con anterioridad*/
    color: white;
    text-decoration: none;
    
}

/* 00163217 */
.menu li:last-child a:last-child{ /*al ultimo hijo de la lista selecionamos el que tiene la etiqueta a y le aplicamos color rojo*/
    color: red;
}


/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 736px) {
  
    .post ul { /*aplicamos las siguientes propiedades para que os articulos queden en posicion de cuadrado, es decir dos y 1 a la izquierda y no en medio*/
        list-style: none;
        display: grid;  
        grid-template-columns: auto auto;     
    }
    
    .post ul li { 
        min-height: 350px;
        max-height: 3500px;
        margin: 0 1em;
        flex: 1 0 350px;
    }

    .logo{
        width: 150px;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;      
    }

    .about .bio-info{
        width: 42em;
    }
    
    .about .contact{ /*se aplica un poco de separacion entre los elementos*/
        width: 40em;
        margin-bottom: 2.5em;
    }

    a.hide-mobile.show-desktop{
        color:#0AC693; 
        margin-top: 1.5em;
        margin-bottom: 3.8em;
        font-size: 2.5em;
        
    }
} 

@media only screen and (min-width: 1024px) {

    .post ul {
        list-style: none;
        display: grid;  /*igual que en el de tablets, simplemente que haga que se agrupan tres */
        grid-template-columns: auto auto auto;     
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 0 1em;
        flex: 1 0 350px;
    }

    .logo{
        width: 150px;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;      
    }

    .about .bio-info{
        width: 32em;
        
    }

    .about h2{ /*posicionamos todo el encabezado de la parte de about en la parte superior*/
        grid-column: 1/5;
        
    }
    
    .about .contact{
        width: 30em;
        
    }

    .about .container{
        display: grid;
        grid-template-columns: auto auto auto;  
        
    }

    .bio-info img{
        width: 200px;
     }

    a.hide-mobile.show-desktop{
        color:#0AC693; 
        margin-top: 1.5em;
        margin-bottom: 3.8em;
        font-size: 2.5em;
        
    }

    .contact-form input[type=submit] {
        background-color: #F74442;
        font-weight: 400;
        width: 13em;
        color: white; /*reducimos el tamaño del boton de submit*/
        font-size: 1rem;
    }


}

@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

    .big-hero img {
        margin-top: 5em;
    }

    .post ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 1em;
    }

    .post{
        width: 80em;
    }

    .post h2{
        padding-bottom: 1em;
    }

    .about .bio-info{
        width: 40em;
        margin-right: 4em;
    }
    
    .about .contact{
        width: 35em;
        margin-bottom: 2.5em;
        margin-left: 1em;
    }

    .about .container{
        width: 80em;

        
    }
}