@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); /*Se importa la fuente para luego aplicarla*/

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after { /*Se hace una selecccion a todo y se crea un pseudo-elemento que es el primer hijo del elemento seleccionado luego se selecciona el ultimo elemento hijo */
    margin: 0; 
    padding: 0;
    box-sizing: border-box; /*le decimos al navegador tomar en cuenta para cualquier valor que se especifique de borde o de relleno para el ancho o alto de un elemento.*/
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between
}

.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}

p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo {
    width: 90px;
    margin: 1em 1em 1em 2.5em;
}

.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img {
    width: 150px;
    
}

.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p {
    font-size: 0.7em;;
    color: #D7DEE6;

}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5.5em;
}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    margin: 0 0.4em; /* 00163217*/
    font-size: 3em;
}

a.hide-mobile.show-desktop{ /*00163217*/
    color:#0AC693; 
    margin-top: 1.5em;
    margin-bottom: 5.1em;
    font-size: 2.5em;
    
}

.green-area {
    background-color: #0AC693; 
}


.post {
    padding: 1em;
    margin-bottom: -2px;
}
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post ul li {
    min-height: 200px;
    max-width: 300px;
 

}

.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;  
    margin-bottom: 2em;
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{
    margin-top: 0em;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em 2em 2em 2em;
}


.bio-info img{
   width: 150px;
}

.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}

.contact * + * {
    margin-top: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

.about .bio-info{
    width: 22em;
}

.about .contact{
    width: 20em;
    margin-bottom: 2.5em;
}

.container label{
    font-weight: bold;
}

.about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; font-family: 'Tahoma'; font-size: 1em;} 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; font-family: 'Tahoma'; font-size: 1em;} 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
    padding-top: 2em;
}

footer .social-links {
    margin: 0;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

/* 00163217 */
.menu li:last-child a:last-child{
    color: red;
}


/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 736px) {
  
    .post ul {
        list-style: none;
        display: grid;  
        grid-template-columns: auto auto;     
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 0 1em;
        flex: 1 0 350px;
    }

    .logo{
        width: 150px;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;      
    }

    .about .bio-info{
        width: 42em;
    }
    
    .about .contact{
        width: 40em;
        margin-bottom: 2.5em;
    }

    a.hide-mobile.show-desktop{
        color:#0AC693; 
        margin-top: 1.5em;
        margin-bottom: 3.8em;
        font-size: 2.5em;
        
    }
} 

@media only screen and (min-width: 1024px) {

    .post ul {
        list-style: none;
        display: grid;  
        grid-template-columns: auto auto auto;     
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 0 1em;
        flex: 1 0 350px;
    }

    .logo{
        width: 150px;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;      
    }

    .about .bio-info{
        width: 32em;
        
    }

    .about h2{
        grid-column: 1/5;
        
    }
    
    .about .contact{
        width: 30em;
        
    }

    .about .container{
        display: grid;
        grid-template-columns: auto auto auto;  
        
    }

    .bio-info img{
        width: 200px;
     }

    a.hide-mobile.show-desktop{
        color:#0AC693; 
        margin-top: 1.5em;
        margin-bottom: 3.8em;
        font-size: 2.5em;
        
    }

    .contact-form input[type=submit] {
        background-color: #F74442;
        font-weight: 400;
        width: 13em;
        color: white;
        font-size: 1rem;
    }


}

@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

    .big-hero img {
        margin-top: 5em;
    }

    .post ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 1em;
    }

    .post{
        width: 80em;
    }

    .post h2{
        padding-bottom: 1em;
    }

    .about .bio-info{
        width: 40em;
        margin-right: 4em;
    }
    
    .about .contact{
        width: 35em;
        margin-bottom: 2.5em;
        margin-left: 1em;
    }

    .about .container{
        width: 80em;

        
    }
}